<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ajouter une tâche</title>
</head>
<body>
  <h1>➕ Ajouter une tâche</h1>

  <p>
  <a href="/tasks/home">🏠 Retour à l’accueil des tâches</a>

    <a href="/tasks">📋 Voir la liste des tâches</a>
  </p>

  <hr>

  {% if error %}
    <p style="color:red;"><strong>{{ error }}</strong></p>
  {% endif %}

  <form method="post" action="/tasks/add">
    <p>
      <label>Titre</label><br>
      <input type="text" name="title" required>
    </p>

    <p>
      <label>Description</label><br>
      <textarea name="description" required></textarea>
    </p>

    <p>
      <label>Date d’échéance</label><br>
      <input type="date" name="due_date" required>
    </p>

    <button type="submit">✅ Ajouter</button>
  </form>
</body>
</html>
